name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate version file
        run: |
          echo "__version__ = '${GITHUB_RUN_NUMBER}'" > version.py
